h1,div,p{
    padding: 10px;
    margin: 0px;
}

body{
    background-color: rgb(211, 247, 233);
}

h1{
    background-color:rgb(89, 126, 230);
}

div{
    background-color: rgb(211, 247, 233);
}

p{
    background-color: rgb(176, 228, 185);
}